<%- include('../includes/header') %>

<h1>Welcome to MyShop</h1>
<p>Browse our latest products and find what you love.</p>

<section class="product-list">
  <ul>
    <%for(const prod of prods){%>
        <li class="product-item">
        <h2><%=prod.title%></h2>
        <p><%=prod.price%></p>
          <input type="hidden" value="<%=prod._id%>">
          <a href="/products/<%=prod._id%>">View More Details</a>
        </li>
      <%}%>
  </ul>
</section>

<%- include('../includes/footer') %>