    <header>
      <ul>
        <li><a class="<%=isActive === '/shop' ? 'active' : ''%>" href="/">Shop</a></li>
        <li><a class="<%=isActive === '/add-product' ? 'active' : ''%>"  href="/add-product">Add Product</a></li>
        <li><a class="<%=isActive === '/products' ? 'active' : ''%>"  href="/product">Add Product</a></li>
        <li><a class="<%=isActive === '/cart' ? 'active' : ''%>"  href="/cart">Add Product</a></li>
        <li><a class="<%=isActive === '/orders' ? 'active' : ''%>"  href="/orders">Add Product</a></li>
      </ul>
    </header>