<%- include('../includes/header') %>

<h1>Admin Products</h1>
<p>Manage your shop's products here.</p>

<section class="product-list">
  <ul>
        <%for(const prod of prods){%>
        <li class="product-item">
        <h2><%=prod.title%></h2>
        <p><%=prod.price%></p>

        <a href="/add-product/<%= prod._id %>" class="btn btn-edit">Edit</a>

          <form action="/admin-products" method="POST">
          <input type="hidden" name="prodId" value="<%=prod._id%>">
          <button class="btn btn-delete" type="submit">Delete</button>
          </form>
        </li> 
      <%}%>
  </ul>
</section>

<%- include('../includes/footer') %>
